po/*.gmo
*Makefile
*Makefile.in
po/Makefile.in.in
ABOUT-NLS
ChangeLog
POTFILES
stamp*
*/.deps
.libs
*~
*.bz2
*.orig
*.o
*.lo
*.la
\[config.h\].in
*,orig
configure
config.*
configure.ac
mkinstalldirs
missing
compile
install-sh
ltmain.sh
libtool
depcomp
aclocal.m4
m4/
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-taskmanager.pot
autom4te.cache
*.desktop
INSTALL
src/*_ui.h
src/xfce4-taskmanager
