po/*.gmo
po/.intltool-merge-cache
*Makefile
*Makefile.in
po/Makefile.in.in
POTFILES
stamp*
*/.deps
.libs
*.orig
*.o
*.lo
*.la
\[config.h\].in
*,orig
configure
config.*
configure.ac
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
libtool
depcomp
aclocal.m4
m4/
autom4te.cache
*.desktop
INSTALL
src/*_ui.h
src/xfce4-taskmanager
